Repository dandi/dandi-cli, pull requests merged in 2022-12, with the labels that each got.

#1170 dandi-cli readme edit
  README.md
Labels: documentation

#1173 Add validation of filepaths for non-BIDS NWB assets
  dandi/cli/tests/test_cmd_validate.py
  dandi/cli/tests/test_command.py
  dandi/files/__init__.py
  dandi/files/_private.py
  dandi/files/bases.py
  dandi/organize.py
  dandi/tests/fixtures.py
  dandi/tests/test_files.py
  dandi/tests/test_organize.py
  dandi/validate.py
  dandi/validate_types.py
Labels: minor, NWB, cmd-validate

#1171 Allow user to specify mandatory (if not empty) fields in organize
  dandi/cli/cmd_organize.py
  dandi/consts.py
  dandi/organize.py
  dandi/tests/test_organize.py
  docs/source/cmdline/organize.rst
Labels: release, cmd-organize

#1175 Update client for change in Zarr entries API
  dandi/dandiapi.py
  dandi/download.py
  dandi/files/zarr.py
  dandi/tests/test_dandiapi.py
  dandi/tests/test_files.py
  dandi/tests/test_upload.py
  docs/source/modref/dandiapi.rst
Labels: minor, release, zarr
