Repository dandi/dandi-cli, pull requests merged in 2023-03, with the labels that each got.

#1233 Use pathlib more in tests
  dandi/cli/tests/test_cmd_ls.py
  dandi/cli/tests/test_cmd_validate.py
  dandi/tests/fixtures.py
  dandi/tests/test_dandiapi.py
  dandi/tests/test_download.py
  dandi/tests/test_files.py
  dandi/tests/test_metadata.py
  dandi/tests/test_organize.py
  dandi/tests/test_pynwb_utils.py
  dandi/tests/test_validate.py
  dandi/validate.py
Labels: internal

#1231 download: support for downloading multiple URLs at once; dandiset path is now included in the report
  dandi/cli/cmd_download.py
  dandi/download.py
  dandi/support/iterators.py
  dandi/tests/test_download.py
  docs/source/cmdline/download.rst
Labels: minor, cmd-download

#1234 Add `--ignore ID_REGEX` option to `dandi validate`
  dandi/cli/cmd_validate.py
  dandi/cli/tests/test_cmd_validate.py
  dandi/tests/test_download.py
  dandi/validate_types.py
  docs/source/cmdline/validate.rst
Labels: minor, release, cmd-validate

#1239 skip test_nwb2asset_remote_asset if no fsspec installed
  dandi/tests/test_metadata.py
Labels: release, tests

#1236 Add service script for re-extracting remote NWB metadata
  dandi/cli/cmd_service_scripts.py
  dandi/cli/command.py
  dandi/cli/tests/test_service_scripts.py
  dandi/tests/fixtures.py
  dandi/tests/test_metadata.py
  dandi/tests/test_upload.py
  docs/source/cmdline/service-scripts.rst
Labels: minor

#1240 Skip reextract-metadata test if fsspec is not installed
  dandi/cli/tests/test_service_scripts.py
Labels: tests

#1237 `validate`: Yield error if path is not inside a Dandiset
  dandi/cli/tests/test_command.py
  dandi/files/bases.py
  dandi/tests/test_files.py
  dandi/tests/test_validate.py
  dandi/validate.py
Labels: minor, cmd-validate

#1245 Corrected docstring
  dandi/cli/cmd_validate.py
Labels: documentation

#1246 Restrict mypy to pre-v1.1.1
  tox.ini
Labels: tests

#1247 Revert "Restrict mypy to pre-v1.1.1"
  tox.ini
Labels: tests

#1241 Update for dandischema 0.8.0
  dandi/download.py
  dandi/files/bids.py
  dandi/metadata.py
  dandi/support/typing.py
  dandi/tests/test_upload.py
  setup.cfg
Labels: release, dependencies

#1248 [ENH] Add severity restriction option to `dandi-validate`
  dandi/cli/cmd_validate.py
  dandi/cli/tests/test_cmd_validate.py
  dandi/validate_types.py
  docs/source/cmdline/validate.rst
Labels: minor, cmd-validate

#1244 Creating test for file-wise NWB error output listing
  dandi/cli/cmd_validate.py
  dandi/cli/tests/test_cmd_validate.py
  dandi/tests/fixtures.py
Labels: tests
