Repository dandi/dandi-cli, pull requests merged in 2024-08, with the labels that each got.

#1476 Fix handling of `--preserve-tree` for asset ID-only URLs
  dandi/cli/cmd_download.py
  dandi/download.py
  dandi/tests/test_download.py
  docs/source/cmdline/download.rst
Labels: patch, cmd-download

#1477 Fix one insignificant typo in CHANGELOG
  CHANGELOG.md
Labels: documentation, release

#1480 move: Immediately authenticate client after creation
  dandi/move.py
Labels: patch, cmd-move, embargo

#1482 BF: use correct variable in exception upon unknown how to handle value of "species"
  dandi/metadata/util.py
  dandi/tests/test_metadata.py
Labels: patch

#1486 Dump audit table to file specified by `DANDI_TESTS_AUDIT_CSV` envvar
  .github/workflows/test.yml
  dandi/tests/fixtures.py
Labels: tests
