Repository dandi/dandi-cli, pull requests merged in 2025-08, with the labels that each got.

#1684 Fix auto release
  .autorc
  .github/workflows/release.yml
Labels: release, internal

#1690 BF: announce two tests xfail on windows python 3.13
  dandi/cli/tests/test_cmd_validate.py
  dandi/tests/test_fixtures.py
  dandi/tests/test_organize.py
  dandi/tests/xfail.py
Labels: tests

#1694 Bring back dandi-staging to provide more graceful transition for 3rd party libraries
  dandi/cli/tests/test_instances.py
  dandi/consts.py
  dandi/utils.py
  docs/source/cmdline/instances.rst
Labels: patch, release

#1645 BF: check for upload to not have our .dandidownload suffixes
  dandi/consts.py
  dandi/download.py
  dandi/tests/test_upload.py
  dandi/upload.py
Labels: patch, cmd-upload

#1685 Add tagging to zarr upload if embargoed
  dandi/files/zarr.py
Labels: patch, release, cmd-upload, zarr, embargo
